@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    display: block;

    margin: 20px auto;
    padding: 10px 20px;
    
    border: 0;
    border-radius: 5px;

    background: cornflowerblue;
    color: white;

    font-size: 16px;   

    cursor: pointer;
}

.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.popup {
    position: relative;
    padding: 10px 10px 20px 10px;
    max-width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: white;
    border-radius: 3px;
}

.popup-link {
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 17px;
    box-shadow: 2px 2px 5px #5f5e5e;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.popup-close {
    position: absolute;

    top: 5px;
    right: 10px;
    
    cursor: pointer;
}